@import "style";
@import "theme";
@import "ajout-article";

.container {
    display: flex;
  }
  
  #col-1 {
    flex: 1;
    
    h1 {
      text-align: center;
      margin-bottom: 50px;
    }
  }
  
  #col-2 {
    flex: 1;

    h1 {
        text-align: center;
        margin-bottom: 50px;
    }
  }

  

