@import "theme";
@import "style";

body {
    p {
        margin-top: 10rem;
        height: calc(100vh - 5rem - 18rem);
        line-height: calc((100vh - 5rem - 18rem) / 3);
        text-align: center;
        font-size: 2.5rem;
    }
}

.bodyContainer {
    margin-top: 4rem;
    padding-top: 2rem;
    padding: 4rem;
    background: linear-gradient(#0c6eb7, #0000A3);
}

.bodyContainer p {
    margin-top: unset;
    line-height: unset;
    height: unset;
    color: white;
    font-size: 1.8rem;
}

.fishCitation {
    margin: 60px 0px;
}

.fishCitation::after {
    content: "";
    display: table;
    clear: both;
}

.fishCitation img {
    float: left;
    width: 30%;
    transform: scale(-1, 1);
}

.fishCitation p {
    float: left;
    width: 70%;
    color: #a9fffe;
    height: 100%;
    vertical-align: middle;
}

footer {
    background-color: rgb(234, 200, 123);
    height: 100px;
    position: relative;
}

footer .wave {
    background: url("/static/assets/waveSand.svg") repeat-x;
    position: absolute;
    top: -88px;
    z-index: 2;
    width: 6400px;
    height: 88px;
}

footer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}