$light-blue: #40B0DF;
$dark-blue: #0067B3;
$yellow: #FFD53D;
$deep-blue: #0000A3;
// couleurs formulaire
$input-background: rgba(58, 59, 63, 0.795);
$input-text-inactive: #7881A1;
$input-text-active: #BFD2FF;

