{% extends "base.html" %}

{% block title %}Espace d'administration | {% endblock %}

{% block content %}

<hr class="solid">

<div class="container">

    <!--Inputs-->
    
        <div id="col-1">
            <h1>Ajout d'un modérateur</h1>
            <form>
                <div class="style-input">
                    <input type="text" name="email" placeholder="Email du modérateur">
                </div>

                <div class="style-input">
                    <input type="submit" class="submit" name="ajouter" value="Ajouter">
                </div>
            </form>
        </div>
        <div id="col-2">    
            <h1>Articles | Sauvetages non validés</h1>
            <div class="grid">
                <div class="card">
                    <div class="card_body">
                        
                        <h2 class="card_title"><a href="modif-article">Mon article</a> 
                            <p class="card_author">Type: article</p>
                            <p class="card_author">Par <a href="#" class="author_link">Jean Michel</a></p>
                            
                        <h2>
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorum porro, illum totam nostrum sit delectus nisi sint magni perspiciatis adipisci?</p>
                        
                        <a href="modif-article" class="read_more">Voir l'article</a>
                    </div>
                </div>
            </div>

        </div> 
        <div id="col-1" class="button-div">
            <a href="add-article">Ajouter un article</a>
            <a href="add-sauvetage">Ajouter un sauvetage</a>
        </div>

        
    
</div>
{% endblock %}