{% extends "base.html" %}

{% block title %}Espace d'administration | {% endblock %}

{% block content %}

<hr class="solid">

<div class="container">

    <!--Inputs-->
    
        <div id="col-1">
            <h1>Ajout d'un modérateur</h1>
          <form>
                <div class="style-input">
                    <input type="text" name="email" placeholder="Email du modérateur">
                </div>

                <div class="style-input">
                    <input type="submit" class="submit" name="ajouter" value="Ajouter">
                </div>
            </form>
        </div>
        <div id="col-2">
            <h1>Articles non validés</h1>
            <div class="article">
                <p class="titre"><a href="modif-article">Mon article</a> <i>par : Jean Michel du 56</i></p>
                <p class="truncate">C'est un test voir si c'est long ou pas trop long mdrrrrrrrrrrrrrrrrrrrrrrrr</p>
            </div>

            <div class="article">
                <p class="titre"><a href="modif-article">Mon article2</a> <i>par : Jean Michel du 56</i></p>
                <p class="truncate">Je te bz il est trop long le message frr, ah bah non en faite</p>
            </div>
        </div> 

        
    
</div>
{% endblock %}