{% extends "base.html" %}

{% block title %}Ajout Article | {% endblock %}

{% block content %}
<div class="container">

    <!--Inputs-->
    <form>
        <div class="style-input">
            <input type="text" name="sauveteur" placeholder="Nom sauveteur">
        </div>

        <div class="style-input">
            <input type="text" name="sauve" placeholder="Nom de la personne sauvée">
        </div>

        <div class="style-input">
            <input type="text" name="histoire" placeholder="Histoire">
        </div>
    </form>

</div>
{% endblock %}