{% extends "base.html" %}

{% block title %}Ajout Article | {% endblock %}

{% block content %}
<div class="container">

    <!--Inputs-->
    <form method="POST" onsubmit="send(event)">
        <div class="style-input">
            <input type="text" name="title" placeholder="Titre de l'article">
        </div>

        {% include 'ckeditor.html' %}

        <div class="style-input">
            <input type="submit" class="submit" name="envoyer" value="Envoyer">
        </div>
    </form>

</div>
<script>
    function send(event) {
        console.log(document.querySelector(".ck-content").innerHTML);
        event.preventDefault()
    }
</script>
{% endblock %}