{% extends "base.html" %}

{% block title %}Ajout Sauvetage | {% endblock %}

{% block content %}
<div class="container">

    <!--Inputs-->
    <form>
        <div class="style-input">
            <input type="text" name="sauveteur" placeholder="Nom sauveteur">
        </div>

        <div class="style-input">
            <input type="text" name="sauve" placeholder="Nom de la personne sauvée">
        </div>

        {% include 'ckeditor.html' %}

        <div class="style-input">
            <input type="submit" class="submit" name="envoyer" value="Envoyer">
        </div>
    </form>

</div>
{% endblock %}